<div class="wrapper">
    <div class="content">
        <div class="header">
            <h2 *ngFor="let name of userNames">{{ name }}</h2>
        </div>

        <div *ngFor="let message of messageData; let i = index" class="messages">
            <div class="message-info">
                <img src="{{ message.userImgUrl }}">
                <div>
                    <div style="display: flex;">
                        <p style="font-weight: bold;" class="name">{{ message.userName }}</p>
                        <p class="date">{{ transformTimestamp(message.date) }}</p>
                    </div>
                    <div class="message-container">
                        <p>{{ message.message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="editor">
        <app-text-editor (submittedContent)="receiveEditorContent($event)"
            [editorTitle]="'New Message:'"></app-text-editor>
    </div>

</div>